.task-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.task-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.task-exit {
    opacity: 1;
    transform: translateY(0);
}

.task-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 500ms, transform 500ms;
}